<section class="work-examples">
  <div class="container">
    <p class="work-examples-subtitle">This is what we do</p>
    <h2 class="work-examples-title">Business Cases</h2>
    <p class="work-examples-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="work-examples-list">
      <li class="work-examples-list-item">
        <img src="./images/cases-1.jpg" alt="people agree" width="320" />
      </li>
      <li class="work-examples-list-item">
        <img src="./images/cases-2.jpg" alt="chart on the table" width="320" />
      </li>
      <li class="work-examples-list-item">
        <img
          src="./images/cases-3.jpg"
          alt="people shaking hands"
          width="320"
        />
      </li>
      <li class="work-examples-list-item">
        <img
          src="./images/cases-4.jpg"
          alt="a lot of people put their hands in place"
          width="320"
        />
      </li>
      <li class="work-examples-list-item">
        <img
          src="./images/cases-5.jpg"
          alt="girl working on a laptop"
          width="320"
        />
      </li>
      <li class="work-examples-list-item">
        <img
          src="./images/cases-6.jpg"
          alt="three skyscrapers and sky"
          width="320"
        />
      </li>
      <li class="work-examples-list-item">
        <img
          src="./images/cases-7.jpg"
          alt="Kelegs spend time together"
          width="320"
        />
      </li>
      <li class="work-examples-list-item">
        <img src="./images/cases-8.jpg" alt="three people work" width="320" />
      </li>
    </ul>
  </div>
</section>
